*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #091767;
    width: 100%;
    height: 220px;
}
.container{
    background-color:#030c3f;
    height: 35px;
    padding: 10p
}
.container h6{
    /* display: block; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    display: block;
    font-size:medium;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 240px;
    font-weight: bold;
    padding-top: 10px;
    color: aliceblue;
    
}
.container i{
    border: #ffff00
}
span {
    color: #ffff00;
}
.image img{
    float: right;
    max-height: 200px;
    width: 300px;
    margin-right: 330px;
}
.request{
    float: left;
    color: #ffff00;
    font-size: 35px;
    font-weight:bolder;
    margin-left: 260px;
    padding-top: 10px;
}
.priceline{
    float: left;
    color: #ffffff;
    font-size: 16.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 262px;
    margin-top: 20px;
}
.support button {
        font-size:15px;
        font-weight: bolder;
        border: none;
        width: 133px;
        margin-top: 55px;
        background-color: #ffff00;
        border: none;
        color: black;
        padding: 10px 15px;
        text-align:left;
        text-decoration: none;
        display: inline-block;
        margin: 10px 250px;
        cursor: pointer;
        border-radius: 16px;
        margin-left: 262px;
}
.navbar ul {
    margin-left: 240px;
    background-color:transparent;
    /* width: 70%; */
    /* padding: 10px; */
    list-style: none;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(219, 247, 248);
    padding-bottom: 15px;


}
.navbar li{
    float: left;
    border: 1px solid #7d7d7d;
    border-bottom: none;
    text-align: right;    
}
.navbar a{

    border-bottom: none;
    display: block;
    padding: 3px 60px 0 15px;
    /* padding-left: 5px; */
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.more a{
    border-width: 1px;
    padding-right: 440px;
    font-weight: 25;
    font-style: initial;
}
.covidinfo {
    background-color: none;
    width: 73%;    
    border-bottom: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    font-size: 18px;
    margin-left: 240px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.covidinfo a {
    border: 0 1px 1px 1px;
    border-color: #091767;
}
.dborder {
    width: 73%;
    margin-left: 240px;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
}
.mainbody{
    height: 180%;
    width: 73%;
    margin-left: 240px;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
}
#sidebar{
    float: left;
    height: 30%;
    width: 18%;
    /* border-right: 1px solid #9f9f9f; */
    background-color:transparent;
    /* background-color: #00d5ff; */
}
.headlines {
    height: 135%;
    border: 1px solid #9f9f9f;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    /* border-right: none; */
}
.headlines p{
    /* border: 1px solid #9f9f9f; */
    height: 15%;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    font-weight: bolder;
    padding-bottom: 60px;
}
.headlines a{
    border-bottom: 1px solid #9f9f9f;
    margin-left: 1px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #9f9f9f;
    padding-bottom: 5px;
}
#fafa{
    color: #9f9f9f;
    margin-left: 5%;
    
}
.weather-sun {
       
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;

}
.sun{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg,#F3A966,yellow);
    border-radius: 100%;
    position: absolute;
    left: 10%;
    top: 20%;
}
.sun p{
    font-size: 10px;
    color: #9f9f9f;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65px;
    padding-bottom: 0%;
}
.sun h6{
    font-size: 25px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 65px;
    font-weight: normal;
}
.live{
    padding-left: 3px;
    margin-left: 5px;
    color: pink;
    font-size: 28px;
    font-weight: bold;
}
.mcontent{
     padding-left: 3px;
    margin-left: 3px;
    color: white;
    margin-top: 0;
    width: 18%;
    height: 75%;
    background-color: #a50202;
    float: left;
}
.carusal img {
    padding-top: 0;
    float: left;
    width: 500px;
    height: 297px;
}
.war img {
    float: left;
    margin-left: 13px;
    width: 250px;
    height: 150px;
}
.subheadline {
    background-color: #a50202;
    height: 100px;
    width: 744px;
    margin-top: 290px;
    margin-left: 243.5px;
}  
.young h4 {
    color: pink;
    font-size: 15px;
    margin-left: 8px;
}
.young p {
    color: white;
    font-size: 15px;
    margin-left: 8px;
    padding-left: 2px;
}
.city h4 {
    margin-top: -100px;
    color: pink;
    font-size: 15px;
    margin-left: 240px;
}
.city p {
    margin-top: -100px;
    color: white;
    font-size: 15px;
    margin-left: 340px;
}
.city h6 {
    margin-top: -00px;
    color: white;
    font-size: 15px;
    margin-left: 240px;
    font-weight: lighter;
}
.heart h4 {
    float: left;
    margin-top: -00px;
    color: pink;
    font-size: 15px;
    margin-left: 500px;
}
.heart p {
    margin-top: -30px;
    color: #ffffff;
    margin-left: 610px;
    font-size: 15px;
 }
.heart h6 {
    margin-top: -00px;
    color: white;
    font-size: 15px;
    margin-left: 505px;
    font-weight: lighter;
}
.warnews{
    background-color: #a50202;
    height: 240px;
    width: 250px;
    margin-top: -185px;
    margin-left: 758px;
}
.news{
    margin-left: 5px;
    color: pink;
    font-size: 28px;
    font-weight: bold;
}
h3{
    color:#ffffff;
    font-size: large;
    padding-left: 5px;
}
.climate {
    float: right;
    margin-top: 10px;
    margin-right: -360px;
    background-color: none;
    width: 184%;    
    border-top: 1px #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    font-size: 18px;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.climate p {
    height: 25px;
    margin-right: 100px;    
    border-color: #091767;
    padding-left: 40px;
} 
footer{
    /* display: block; */
    margin-top: 32px;
    background-color: #091767;
    width: 100%;
    height: 450px;

}
.navb ul{
    margin-left: 240px;
    background-color:transparent;
    /* width: 70%; */
    /* padding: 10px; */
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(219, 247, 248);
    padding-bottom: 35px;
    border:1px solid #7d7d7d;
    width: 1359px;


}
.navb li{
    float: left;
    border: 1px solid #7d7d7d;
    border-bottom: none;
    text-align: right;
    list-style: none;
}
.navb a{
    border-bottom: none;
    display: block;
    padding: 3px 60px 0 15px;
    /* padding-left: 5px; */
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.bottom{
    border: 1px solid #7d7d7d;
    width: 74.1%;
    height: 350px;
    margin-left: 240px;
}
.signup{
    border: 1px solid #7d7d7d;
    width: 34%;
    height: 95%;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.signup p{
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    padding-top: 5px;
}
.email button{
    font-size:15px;
    font-weight: bolder;
    border: none;
    width: 210px;
    margin-top: 55px;
    background-color: #ffffff;;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align:left;
    text-decoration: none;
    display: inline-block;
    margin: 10px 250px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 14px;
}
.help {
    border: 1px solid #7d7d7d;
    width: 12.3%;
    height: 95%;
    margin-left: 462px;
    margin-top: -335px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.help p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 10px;

}
.alltopics {
    border: 1px solid #7d7d7d;
    width: 13.3%;
    height: 95%;
    margin-left: 630px;
    margin-top: -332px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.alltopics p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}
.advertis {
    border: 1px solid #7d7d7d;
    width: 13.3%;
    height: 95%;
    margin-left: 810px;
    margin-top: -332px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.advertis p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}
.guardian{
    float: right;
    color: #ffff00;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    margin-right: 130px;
    margin-top: -340px;
    padding-top: 10px;
}
.readers h4{
    float: right;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 59px;
    margin-top: -340px;
    padding-top: 105px;
    font-weight: lighter;
}
.supporta button {
    float: right;
    font-size:15px;
    font-weight: bolder;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    width: 10%;
    height: 90%;
    margin-right: 220px;
    margin-top: -210px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 16px;
}
.rights p{
    color: #ffffff;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 3px;
}